body {
    background-color: black;
}
h1 {
    color: red;
    padding: 60px;
}


#topo {
    width: 100%;
    height: 200px;
    text-align: center; 
}

#menu {
    
    text-align: center; 
    width: 100%;
    height: 50%;
    padding: top right bottom left;
    
}

#centro {

   text-align: center;
   width: 100%;
   height: 50%;
   margin: 2;
    

}


#descricao {


   font-family: "Berlin sans FB Demi";
   font-size:"18";
    color:#838383;
    padding: 30%;
    

}


#rodape1 {
   
   text-align: center;

}

#rodape2 {
   
   text-align: center; 
    width: 100%;
    height: 50%;
    

}

#rodape3 {
   
   text-align: left; 
    width: 50%;
    height: 30%;   
    

}

#foto1 {
   
   text-align: center;

  

}

#foto2 {
   
   text-align: center;
   
   

}

#meio {
   
   font-family: "Berlin sans FB Demi";
   font-size:"18";
   color:#838383;
   padding: 10%;
   text-align: center;
   

}


#reservas {
   
    text-align: center;
    width: 30%;
    height: 30%;   

}











   



